@model IEnumerable<ComputerStore.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>All orders</h1>

<form id="searchForm" method="post">
    <div class="form-group">
        <label for="orderId">Search by Order ID:</label>
        <input type="number" class="form-control" style="width: 250px" id="orderId" name="orderId" />
    </div>
    <br />
    <div class="form-group">
        <label for="userName">Search by User Name:</label>
        <input type="text" class="form-control" style="width: 250px" id="userName" name="userName" />
    </div>
    <br />
    <div class="d-flex">
        <button type="button" class="btn btn-outline-primary" onclick="searchOrders()">Search</button>
    </div>
</form>

<div id="searchResults"></div>

<script>
    $(document).ready(function () {
        searchOrders();
    });

    function searchOrders() {
        var formData = $('#searchForm').serialize();

        $.ajax({
            url: '@Url.Action("Search", "Orders")',
            type: 'GET',
            data: formData,
            success: function (data) {
                $('#searchResults').html(data);
            },
            error: function () {
                alert('Error occurred while processing the request.');
            }
        });
    }
</script>
