@model IEnumerable<ComputerStore.Models.Product>

<h2>Sales Turnover</h2>

@if (User.IsInRole("Manager"))
{
        <div>
            <label for="firstDate">Start Date:</label>
            <input type="date" id="firstDate" class="form-control" style="width: 150px" name="firstDate" />

            <label for="secondDate">End Date:</label>
            <input type="date" id="secondDate" class="form-control" style="width: 150px" name="secondDate" />
            <br />
            <button class="btn btn-outline-dark" onclick="showSalesTurnover()">Show sales turnover</button>
        </div>
}
<br />
<div id="salesTurnoverTable">
</div>

<a asp-action="ProductsPanel" class="btn btn-outline-primary">Return</a>

<script>
    function showSalesTurnover() {
        var firstDate = $('#firstDate').val();
        var secondDate = $('#secondDate').val();

        $.ajax({
            url: '@Url.Action("CountSalesTurnover", "Products")',
            type: 'get',
            data: { firstDate: firstDate, secondDate: secondDate },
            success: function (data) {
                $('#salesTurnoverTable').html(data);
            },
            error: function () {
                alert('Error occurred while processing the request.');
            }
        });
    }
</script>